body {
    box-sizing: border-box;
}

.campo {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 5px;*/
    margin: 5px;
}

img {
    width: 300px;
    height: 300px;
}

h2 {
    text-align: center;
    color: #000;
    margin: 0;
}

/*@media screen and (max-width: 1200px) {}*/

@media screen and (min-width: 500px) and (max-width: 1200px) {
    .campo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .imagens {
        width: 40%;
    }
    
    img {
        width: 280px;
        height: 250px;
    }
}

@media screen and (max-width: 500px) {
    .campo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagens {
        width: 90%;
    }

    img {
        width: 380px;
        height: 250px;
    }
}